<!DOCTYPE html>
<html lang="en">



<head>
    <title>one billion dollars</title>
 

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet" >
    <link rel="stylesheet"href="static/style.css"> 
    <script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-2.2.3.min.js') }}"></script>

    <script>
        $(document).ready(function(){
            var socket = io.connect('http://' + document.domain + ':' + location.port);

            socket.on('done', function(msg) {

                total = msg.total;
                spent = msg.spent


                $('#total').html(total)

                $.each(spent, function(index, value){
                    $('#'+value).hide();
                }) 
            });


            $('form#billionform').submit(function(event) {
                socket.emit('spend', {data: $('#emit_data').val()});
                return false;
            });
        });
    </script>

</head>
<body>
 
    <div class="container">
        <div class="header" id="hdr">
            <nav>
                <ul class="nav nav-pills pull-right" id="nav">
                 <!--  <p> nav area </p> -->
                </ul>
            </nav>
            <h3 class="text-muted">one billion dollars</h3>
            Total : <div id="total">{{total}} </div>
        </div>

    <form action="/spend" method="post" id="billionform">  
    <div id="tablehere">
        {{ta|safe}}
    </div>
    <input class="btn btn-default" type="submit" value="spend">

     </form>

 
        <footer class="footer">
            <p>&copy; aeiou 2015</p>
        </footer>
 
    </div>
</body>
</html> 