body {
  margin: 0px;
  padding: 0px;
}

.hot-container {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

#hot-container {
  width: 100%
}

.root {
  height: 100%;
  max-width: 100%;
  width:100%;
}

/** BORDERS **/

/* Row headers */
/* Bottom */
.ht_clone_top_left_corner th {
  border-bottom: 1px solid #FFF;
}

/* Left and right */
.ht_clone_left th {
  border-right: 1px solid #FFF;
  border-left: 1px solid #FFF;
}

/* Column headers */
/* Top, bottom and right */
.ht_clone_top th {
  border-top: 1px solid #FFF;
  border-right: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
}

/* Left */
.ht_clone_top_left_corner th {
  border-right: 1px solid #FFF;
}

/* Corner */
/* top left */
.ht_clone_top_left_corner th {
  border: 1px solid #FFF;
}

/* Rows */
/* Bottom */
.ht_master tr > td {
  border-bottom: 1px solid #FFF;
}

/* Right */
.ht_master tr > td {
  border-right: 1px solid #FFF;
}
